/*! pfijs v1.1.1 (2014-07-18) */
.icon-spinner {
  width: 16px;
  height: 16px;
  margin-top: 0;
  line-height: 16px;
  background-image: url("spinner.gif");
  background-position: 0 0;
}

/* layout */

.pfi-pillcase-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.pfi-pillcase-pills,
.pfi-pillcase-suggest-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pfi-pillcase-pills li {
  float: left;
}

.pfi-pillcase-pill span,
.pfi-pillcase-resizer {
  word-break: break-all;
}

.pfi-pillcase-input,
.pfi-pillcase-resizer,
.pfi-pillcase-offscreen {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: auto;
  height: auto;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  resize: none;
  vertical-align: top;
}

.pfi-pillcase-input,
.pfi-pillcase-input:focus {
  overflow: hidden;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pfi-pillcase-resizer,
.pfi-pillcase-offscreen,
.pfi-pillcase-offscreen:focus {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
}

.pfi-pillcase-offscreen,
.pfi-pillcase-offscreen:focus {
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pfi-pillcase-suggestion {
  position: absolute;
  display: inline-block;
  top: -100%;
  left: -100%;
}

/* design */

.pfi-pillcase-container {
  border: 1px solid #aaa;
}

.pfi-pillcase-focus {
  border-color: #58f;
}

.pfi-pillcase-pill {
  margin: 3px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 5px;
  background-color: #eee;
  cursor: default;
}

.pfi-pillcase-pill-remover {
  margin: 0 0 1px 2px;
  color: #999;
  font-weight: bold;
}

.pfi-pillcase-pill-remover:link,
.pfi-pillcase-pill-remover:hover {
  text-decoration: none;
}

.pfi-pillcase-pill-remover:hover {
  color: #666;
}

.pfi-pillcase-pill-focus {
  border-color: #58f;
}

.pfi-pillcase-field {
  margin: 4px;
  padding: 0 5px;
}

.pfi-pillcase-suggestion {
  border: 1px solid #aaa;
  border-top: 0;
  background-color: #fff;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pfi-pillcase-suggest-item a {
  padding: 3px 5px;
  color: inherit;
  display: block;
}

.pfi-pillcase-suggest-item a:hover {
  text-decoration: none;
}

.pfi-pillcase-suggest-item-focus a {
  background-color: #ccc;
}

.pfi-tagbox {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pfi-tagbox li {
    display: inline-block;
    list-style: none;
    margin: 5px;
}
